*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.error {
  color: red;
  background-color: rgb(255, 226, 226);
  padding: 1rem;
}

.log {
  text-decoration: none;
  color: #fff;
}

a.active {
  opacity: 0.8;
}